./python_local
/*env
./logs
./.env
./.dockerignore
./InoversityLibraryModel.db
./library_management_system.puml
./library_management_system_minimal_version.puml
./README.md
./LICENSE
./setup.ps1
./docker-compose.yaml
./dist
./build
./Dockerfile-InoversityLibrary
./azure-image-deploy-pipeline.yml
./global_configuration_template.json
./.pre-commit-config.yaml
./azure_image_deploy_jobs_template.yaml